/* Fonts*/

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/HelveticaNeueCyr-bold/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr-bold/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-bold/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-bold/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-bold/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-bold/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/HelveticaNeueCyr-light/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr-light/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-light/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-light/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-light/helveticaneuecyr-light-webfont.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-light/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/HelveticaNeueCyr-roman/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr-roman/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-roman/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-roman/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-roman/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-roman/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**** reset css ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-width: 1200px;
    font-family: 'helveticaneuecyrlight';
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*DEFAULT STYLESHEET*/
.container {
    width: 1180px;
    margin: 0 auto;
}
.container:after {
    display: block;
    content: '';
    clear: both;
}

/******** HEADER  ********/
#header {
    position: relative;
    padding-bottom: 11px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 50%, #00acec 50%);
    background: -webkit-linear-gradient(left,  #ffffff 50%,#00acec 50%);
    background: linear-gradient(to right,  #ffffff 50%,#00acec 50%);
}
#header:before {
    display: block;
    content: '';
    clear: both;
}
#header:after {
    display: block;
    content: '';
    height: 5px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: -5px;
    background: #009bd5;
}
.left-box {
    width: 40%;
    float: left;
    padding-top: 14px;
}
.left-box:before {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 4px;
    top: 0;
    left: 0;
    background: #009bd5;
}
.left-box:after {
    display: block;
    content: '';
    clear: both;
}
.logo {
    display: block;
    width: 186px;
    height: 65px;
    float: left;
    margin-right: 28px;
    background: url("../img/logo.png") no-repeat;
}
.company_description {
    display: block;
    float: left;
    position: relative;
    padding: 21px 0 7px;
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    line-height: 1.2;
    border-bottom: 1px solid #cdcdcd;
}
.company_description:after {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    width: 232px;
    height: 89px;
    left: 100%;
    top: 0;
    margin: -13px 0 0;
    background: url("../img/header_sep.png") no-repeat;
}
#header .right-box {
    float: right;
}
.address {
    display: inline-block;
    position: relative;
    z-index: 3;
    font-size: 15px;
    color: #fff;
    font-family: 'helveticaneuecyrroman';
}
.phone {
    display: inline-block;
    margin: 15px 10px 0px 32px;
    padding-left: 73px;
    font-size: 30px;
    line-height: 58px;
    color: #fff;
    background: url("../img/phone_white.png") no-repeat;
}

/****** HOME  ******/
#home {
    padding: 272px 0 100px;
    text-align: center;
    background: url("../img/home-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main_title {
    margin-bottom: 40px;
    font-size: 48px;
    font-family: 'helveticaneuecyrbold';
    color: #333333;
}
.main_title .big {
    display: inline-block;
    width: 100%;
    margin-top: 22px;
    text-transform: uppercase;
    font-size: 72px;
    color: #fff;
}
.main_title .big .blue {
    color: #0085b6;
}
.subtitle {
    display: block;
    margin: 0 auto  40px;
    font-size: 36px;
    text-indent: 8px;
    color: #333333;
}
.get_profession {
    display: block;
    position: relative;
    padding: 3px;
    width: 626px;
    margin: 0 auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 68px;
    color: #fff;
    text-decoration: none;
    background: #00acec;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;
}
.get_profession:before,
.get_profession:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 50px;
    left: 4px;
    z-index: 1;
    -webkit-box-shadow: 0 48px 24px rgba(0,0,0,1);
    -moz-box-shadow: 0 48px 24px rgba(0,0,0,1);
    -o-box-shadow: 0 48px 24px rgba(0,0,0,1);
    box-shadow: 0 48px 24px rgba(0,0,0,1);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.get_profession:after {
    left: auto;
    right: 4px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
.get_profession span {
    display: block;
    position: relative;
    z-index: 2;
    height: 100%;
    border: 1px solid #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #0096ce; 
    background: -moz-linear-gradient(top,  #0096ce 0%, #00aaea 100%); 
    background: -webkit-linear-gradient(top,  #0096ce 0%,#00aaea 100%); 
    background: linear-gradient(to bottom,  #0096ce 0%,#00aaea 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0096ce', endColorstr='#00aaea',GradientType=0 );

}
.get_profession:hover span {
    background: #00aaea;
    background: -moz-linear-gradient(top,  #00aaea 0%, #0096ce 100%); 
    background: -webkit-linear-gradient(top,  #00aaea 0%,#0096ce 100%); 
    background: linear-gradient(to bottom,  #00aaea 0%,#0096ce 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaea', endColorstr='#0096ce',GradientType=0 );
}
.section {
    padding-top: 100px;
}
#course {
    background: url('../img/course_bg.png') no-repeat center 0, #ececec;
}
.title {
    display: inline-block;
    margin: 0 auto;
    padding: 23px 52px;
    position: relative;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #00acec;
    border-right-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
}
.title:before,
.title:after  {
    display: block;
    content: '';
    position: absolute;
    width: 51%;
    height: 3px;
    right: -3px;
    background: #fff;
}
.title:before {
    bottom: 100%;
}
.title:after {
    top: 100%;
}
#course .title {
    margin-bottom: 68px;
}
.row {
    position: relative;
    margin-bottom: 100px;
}
.row .container:before {
    content: '';
    position: absolute;
    z-index: 3;
    width: 2px;
    height: 55px;
    left: 50%;
    top: 0;
    margin: -62px 0 0 -3px;
    background: #fff;

}
.row:before, .row:after {
    content: ''; 
    position: absolute;
    left: 50%; 
    margin-left: -438px;
    bottom: 100%;
    border: 120px solid transparent;
    border-width: 120px 435px 64px;
    border-bottom: 64px solid #fff;
    z-index: 2;
}
.row:after {
    border-bottom: 62px solid #ececec;
    bottom: 100%; 
}
.column {
    width: 355px;
    min-height: 270px;
    float: left;
    position: relative;
    z-index: 2;
    color: #fff;
    border: 7px solid #fff;
}
.column:before,
.column:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 15px;
    left: 4px;
    z-index: 1;
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 15px 10px rgba(0,0,0,0.6);
    box-shadow: 0 15px 10px rgba(0,0,0,0.6);
}
.column:after {
    left: auto;
    right: 4px;
}
.column + .column {
    margin-left: 32px;
}
.column.blue {
    background: url('../img/circles.png') no-repeat right bottom, rgb(0,172,236);
    background: url('../img/circles.png') no-repeat right bottom, -moz-linear-gradient(left,  rgba(0,172,236,1) 50%, rgba(1,157,215,1) 50%), url(../img/circles.png) no-repeat;
    background: url('../img/circles.png') no-repeat right bottom, -webkit-linear-gradient(left,  rgba(0,172,236,1) 50%,rgba(1,157,215,1) 50%);
    background: url('../img/circles.png') no-repeat right bottom, linear-gradient(to right,  rgba(0,172,236,1) 50%,rgba(1,157,215,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00acec', endColorstr='#019dd7',GradientType=1 );
}
.column.green {
    background: url('../img/circles.png') no-repeat right bottom, rgb(0,166,141);
    background: url('../img/circles.png') no-repeat right bottom, -moz-linear-gradient(left,  rgba(0,166,141,1) 50%, rgba(0,147,125,1) 50%);
    background: url('../img/circles.png') no-repeat right bottom, -webkit-linear-gradient(left,  rgba(0,166,141,1) 50%,rgba(0,147,125,1) 50%);
    background: url('../img/circles.png') no-repeat right bottom, linear-gradient(to right,  rgba(0,166,141,1) 50%,rgba(0,147,125,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a68d', endColorstr='#00937d',GradientType=1 );
}
.column.brown {
    background:  url('../img/circles.png') no-repeat right bottom, rgb(188,118,76);
    background:  url('../img/circles.png') no-repeat right bottom, -moz-linear-gradient(left,  rgba(188,118,76,1) 50%, rgba(171,105,65,1) 50%);
    background:  url('../img/circles.png') no-repeat right bottom, -webkit-linear-gradient(left,  rgba(188,118,76,1) 50%,rgba(171,105,65,1) 50%);
    background:  url('../img/circles.png') no-repeat right bottom, linear-gradient(to right,  rgba(188,118,76,1) 50%,rgba(171,105,65,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc764c', endColorstr='#ab6941',GradientType=1 );
}
.column-title {
    margin: 40px 0 30px;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
}
.column p {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
}
.changes_class {
    z-index: 999999;
}
.changes_class2{
    margin-top: 20px;
}